* {
  box-sizing: border-box;
  margin: 0;
}

main {
  overflow: hidden;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;

  --pumpkin: #ff6700ff;
  --grey-white: #ebebebff;
  --silver: #c0c0c0ff;
  --light-blue: #3a6ea5ff;
  --dark-blue: #004e98ff;

  --animation-speed: 2s;
  --points: "+100pts";
  transition: filter 0.5s;
  position: relative;
}

.background {
  background-image: url("../img/iceberg-background.png");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 210%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  margin-top: 20px;
  width: 95vw;
  height: 80vh;
}

img {
  user-select: none;
}

.invert {
  filter: invert(1);
}
.level-hell {
  animation: level 3s infinite forwards;
  width: 200vw;
  height: 120vh;
}

@keyframes level {
  0% {
    transform: translate(0, 0%);
  }
  20% {
    transform: translate(10%, 0%);
  }
  60% {
    transform: translate(-10%, 0%);
  }
  80% {
    transform: translate(0%, 10%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
